html {
  width: 100vw;
  height: 100vh;
}

.signup-form {
  color:#90afc5;
  width:100%;
  position:relative;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-message {
  text-align: center;
  color: red;
  font-family: 'Dosis', sans-serif;
}

.signup-message2 {
  text-align: center;
  color: black;
  font-family: 'Dosis', sans-serif;
}

.lifecoach {
  margin:auto;
  text-align:center;
  font-family: 'Dosis', sans-serif;
  font-size: 70px;
  color:white;
  margin-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
}

.lifecoach-header {
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 5vw;
}

.bodyText {
  font-family: 'Dosis', sans-serif;
  color:black;
  text-align: center;
}

.submitForm {
  border-radius: 5px;
  text-align: center;
  width:80px;
  padding:.5vh;
  background-color:#90afc5;
  cursor: pointer;
  color:rgba(255,255,255, 0.8);
}

.submitForm:hover {
  background-color: #336b87;
  cursor:pointer;
  color: white;
}

.submitForm2 {
  border: 1px solid rgb(70, 70, 70);
  border-radius: 5px;
  text-align: center;
  width: 200px;
  padding:.5vh;
  background-color:#90afc5;
  cursor: pointer;
  margin-left: 1vw;
  color: white;
}

.submitForm2:hover {
  background-color: #336b87;
  color: white;
  cursor:pointer;
}

.invalidUser {
  color: red;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  margin-top: 0px;
}

.welcome-header {
  font-size:7vw;
  color:black;
  margin-top: 4vh;
  margin-bottom: 2vh;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

.navbar-default {
  background-color:#3251FF;
}

#map {
  margin: 0;
  padding: 0;
  height: 100%;
}

.addfontwhite {
  font-family: 'Dosis', sans-serif;
  color: white;
}

.addfont {
  font-family: 'Dosis', sans-serif;
}

.pushback {
  z-index: -2;
}

.navigationBar {
  width:100vw;
  text-decoration: none;
}

.locationLibrary {
  float:right;
  margin-right: 5vw;
  color: #d9534f;
  margin-top: 5px;
  text-decoration: none;
}

.locationLibrary:hover {
  float:right;
  margin-right: 5vw;
  color: #d9534f;
  margin-top: 5px;
  text-decoration: none;
}

.activeLibrary {
  text-decoration: none;
}

.deleteButton {
  position: absolute;
  width: 33%;
  margin-left: 33%;
}

.libraryBox {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.entry-page {
  width: 100vw;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("./background.png");
  background-size: cover;
}
